$color: white;
$background: black;
$darkMode-color: black;
$darkMode-backgroundColor: white;

@mixin allMessagesBtn($size) {
    position: absolute;
    top: 15px;
    font-size: 25px;
    width: 25px;
    text-align: center;
    cursor: pointer;
    color: $color;
    @media(min-width: 800px){
        color: black;
        top: $size;
        right: 1vw;
    }
    @media(min-width: 1000px){
        right: 1.5vw;
    }
}

.allMessages{
    width: 100%;
    @media(min-width: 800px){
        width: 85%;
        display: inline-block;
    }
    .allMessages-close {
        @include allMessagesBtn(15px);
        right: 15px;
      }
      .allMessages-darkMode {
        @include allMessagesBtn(45px);
        right: 45px;
      }

      .allMessages-more {
        @include allMessagesBtn(75px);
        right: 75px;
      }

      
    .allMessages-container{
        width: 90%;
        margin: 0vh auto;
        border-radius: 10px;
        background-color: inherit;
        overflow: scroll;
        overflow-x: hidden;
        margin: 2vh auto;
        height: calc(100vh - 22vh);
        @media(min-width: 800px){
            height: calc(100vh - 12vh);
        }
        .allMessages-element{
            list-style-type: none;
            &:after, &:before {
                content: "";
                display: table;
                clear: both
            }
            .allMessages-info{
                display: inline-block;
                background-color: $background;
                color: $color;
                line-height: 1.2rem;
                border-radius: 10px;
                padding: 5px 10px;
                margin: 5px 0;

                .allMessages-name{
                    font-size: 0.8rem;
                    &::first-letter{
                        text-transform: capitalize;
                    }
                }
                .allMessages-date{
                    display:inline-block;
                    float: right;
                    padding-left: 10px;
                    font-size: 0.5rem;
                }
            }
        }
    }
}





.allMessages__white{
    .allMessages-close, .allMessages-darkMode , .allMessages-more{
        color: $darkMode-color;
        @media(min-width: 800px){
            color: $darkMode-backgroundColor;
        }
    }
    .allMessages-container{
        .allMessages-element{
            .allMessages-info{
                background: $darkMode-backgroundColor;
                color: $darkMode-color;
            }
        }
    }
}
        // .myMessage{
        //     float: right;
        //     &:after, &:before {
        //         content: "";
        //         display: table;
        //         clear: both
        //     }
        // }
        // .joined{
        //     display: block;
        //     text-align: center;
        //     width: 100%
        // }
